{% extends 'base.html.twig' %}

{% block title %} 
    {{ parent() }} 
    Page de bienvenue 
{% endblock %} 

{% block body %}
<style>
    .example-wrapper code { background:rgb(201, 236, 247); padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Auteur: {{ auteur }}</h1>
    
     <h2>Page de Test</h2> 
    test date: 
{{"now" | date('d-m-Y H:i:s')}} 
    variable de session auteur: {{ app.session.get('auteur') }} 
</div>
{% endblock %}
