{% extends 'base.html.twig' %}

{% block title %}Gestion des produits{% endblock %}

{% block body %}
    <h1>Formulaire de gestion des produits</h1>
    {# Le formulaire Symfony sera affiché ici plus tard #}
{% endblock %}
